p{padding-right: 20px; line-height: 21px;}

h2{
font-size: 36px;
padding-top: 40px;
}

h4{}

p.grey {
color: gray;
}

#masthead{
padding-top: 10px;
}

#masthead p{
margin-bottom: 7px;
}

#masthead a{
color: #222;
text-decoration: none;
}

highlight {
background-color: #FFF6BF;
}

hr {
border-color:#DDDDDD;
border-style:dotted none none;
border-width:1px 0 0;
background: none;
}

img.logo{
padding-top: 30px;
}

img.copyright{
padding-top: 50px;
}

ul.navigation {
list-style: none;
padding: 7px 0;
margin: 0 0 7px 0;
border-top:1px dotted #DDDDDD;
border-bottom:1px dotted #DDDDDD;
height:30px;
}

ul.navigation li {
float: left;
margin: 0;
padding-right: 24px;
font-size: 18px;
}

ul.navigation li a{
color: #727272;
text-decoration: none;	
}

ul.navigation li a.active, ul.navigation li a:hover{
color: #000000;
}
ul.subnav {
list-style: none;
padding: 0;
margin: 0;
}

ul.subnav li {
float: left;
margin: 0;
padding-right: 20px;
}

ul.subnav li a{
color: #727272;
text-decoration: none;
}

ul.subnav li a.active, ul.subnav li a:hover{
color: #000000;
}

.float_left{
float: left;
}

.float_right{
float: right;
}

p.colour-description{
padding-top: 40px;
}

ul.right_subnav li {
float: none;
margin: 0;
padding-bottom: 5px;
}

ul.right_subnav li a{
color: #727272;
text-decoration: none;
}

ul.right_subnav li a.active, ul.right_subnav li a:hover{
color: #000000;
}

ul.right_subnav {
list-style: none;
padding: 0;
margin: 0;
}

.green{
color: #7BA61D;
}

ul.green{
margin-left: 0px;
padding-left: 0px;
list-style-type:none;
margin-bottom: 70px;
}

/* Color ------------------------------------ */

.colour_ref{
font-size: 10px;
line-height: 14px;
padding-bottom: 5px;
}

.colour_darkblue, .colour_lightblue, .colour_limegreen, .colour_navyblue, .colour_lightnavyblue, .colour_paleyellow, .colour_black, .colour_lightyellow, .colour_grey {
background-color: #0678be; 
height: 100px; 
margin-bottom: 10px;
}

.colour_darkblue		{background-color: #0678be;}
.colour_lightblue		{background-color: #53b0eb;}
.colour_limegreen		{background-color: #96bc44;}
.colour_navyblue		{background-color: #064771;}
.colour_lightnavyblue	{background-color: #0d7dc1;}
.colour_paleyellow		{background-color: #f6f6f2;}
.colour_black			{background-color: #000000;}
.colour_grey			{background-color: #9d9d93;}
.colour_lightyellow		{background-color: #e6fcb6;}

/* Editorial ------------------------------------ */

strong.yes{background-color: #6ba800; color: #fff; padding: 1px 2px;}

strong.no{background-color: #e80000; color: #fff; padding: 1px 4px;}



td{vertical-align: top;}
