body{
background: url(../../images/bgr_strip.jpg);
background-repeat:repeat-x;
background-color: #F6F6F2;
}

body#homepage{
background: url(../../images/bgr_strip2.png);
background-repeat:repeat-x;
background-color: #F6F6F2;
}

h2{
font-family:"Helvetica Neue", Helvetica, arial, sans-serif;
}
h3{
font-family:"Helvetica Neue", Helvetica, arial, sans-serif;
color: #555;
}
h4{
font-family:"Helvetica Neue", Helvetica, arial, sans-serif;
color: #555;
margin-top: 1em;
}
.box h4{
margin-top: 0em;
}
h5{
font-family:"Helvetica Neue", Helvetica, arial, sans-serif;
}

ul {
list-style-type: none;
margin-left: 0px;
}

p.threaded{
padding-left: 10px;
}

p.threadedtwo{
padding-left: 20px;
}

.nopadding{padding: 0px;}
.nomargin{margin: 0px;}

#footer{
background-color: #f6f6f2;
}
#footer a {
color: #666666;
}

#footer span.blacktext a {
color: #333333;
}

#footer hr {
margin: 80px 0 11px 0;
}

#worldwide {
margin:0.7em auto 1em;
width:170px;
}

#worldwide p{
padding: 7px 5px 0 0;
}

#worldwide img {
padding-right: 10px;
}

#worldwidelinks{
float: left;
}

div#masthead {
clear: both;
}

div.span-24 .thingswemake{
border-top: 1px solid #c2c2b9;
border-bottom: 1px solid #c2c2b9;
}

.blacktext{color: #000; font-weight: lighter;}
.whitetext{color: #ffffff; font-weight: lighter;}
.greytext{color: #9d9d93; font-weight: lighter;}
.centre{text-align:center;}
.whitebgr{background-color: #fff; padding-bottom: 30px;}

form#search {}

.float-right{float: right;}

div.span-24.dashboard{
margin-bottom: 10px;
}

div#login {
float: right;
padding: 0.5em 0 1.5em 0.5em;
text-align: right;
font-size: 95%;
color: #FFF;
}

div#login a{
color: #FFF;
}

div#login p{
padding: 0px;
margin: 0px;
}


div.navbg {
margin-bottom: 10px;
}

a.button {
padding: 0.5em 2em 0.5em 2em;
background: #9fc748;
color:#fff;
text-decoration: none;
}

a.button:hover {
background: #8aaf3c;
}

h3 a.button {
margin-bottom: 20px;
}


/* Table */
table tr td {

}

table tr.odd td {
background:#fafaf0; 
border-top: 1px solid #EAEAE1;
border-bottom: 1px solid #EAEAE1;
}

table tr th.active {
background:#d7d7c7;
}

table tr td.active {
background:#eaeae1;
}

table tr.odd td.active {
background:#e5e5d4;
border-top: 1px solid #d7d7c7;
border-bottom: 1px solid #d7d7c7;
}

table tr.official td {
background:#f9ffec; 
border-bottom: 1px solid #EAEAE1;
}

table tr.notrecommended td {
background:#f6e8e8; 
border-bottom: 1px solid #ebcccc;
}


/* Widget styles */

div.widget {
background-color: #eee;
border: 1px solid #ccc;
}

div.widget:hover {
border: 1px solid #333;
}


div.widget h3,
div.widget h2 {
float: left;
}

div.widget .menu {
float: right;
}


/* Notes styles */

.pp_Notes {
	background: #f3d0ec;
	padding: 0.5em;
	border: 1px solid #e5b9dc;
	z-index: 20;
	font-size: 95%;
}


input.text, 
input.title   { 
	width: 200px; 
	padding:5px; 
	margin: 0 1em 0 0; 
}

p img.homeimage {
	float: right;
	margin: 0px;
	padding: 0px;
}

p.img {
	margin: 0px;
	padding: 0px;
}

.thumbnails {
	background: #eee;
	border: 2px solid #000;
	text-align: center;
}

/* logo*/
#logo{
position: relative;
z-index: 3;
}

.logo { 
float:left;
left:0px !important;
padding:0;
position:relative;
top:0;
width:351px;
}

h1{
font-size: 48px;
background-color:transparent;
background-repeat:no-repeat;
display:block;
text-indent:-9999em;
margin: 0px;
padding: 0px;
}


h1 a {
background:transparent url(../../images/logo.png) no-repeat scroll 0 22px;
border-bottom:medium none;
display:block;
height:100px;
overflow:hidden;
}

/* Float section header*/
.logo_section {
float: left;
margin: 13px 0px 0px 7px;
font-size: 140%;
}
.float_left {float: left;}
.float_right {float: right;}
.clear_both{clear: both;}
.clear_right{clear: right;}
.clear_left{clear: left;}

/* Pagination nav*/

.pagination{
padding: 2px;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
text-decoration: none; 
color: #2e6ab1;
}

.pagination a:hover, .pagination a:active{
color: #FFF;
background-color: #2E6AB1;
}

.pagination a.currentpage{
background-color: #2e6ab1;
color: #FFF !important;
border-color: #2b66a5;
cursor: default;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #929292;
border-color: #929292;
font-weight: normal !important;
}

.pagination a.prevnext{
}

/* Features*/
.demo {
background-color: #333;
color: #FFF;
}

a.demo{
color: #FFF;
}

a.demo:hover {
color: #FFF;
}

/* News Flag */

span.flag {
color: #FFF;
background: #666666;
text-decoration: none;
font-size: 9px;
padding: 2px 4px;
margin: 0 0 0 1em;
}

.rightcolumn{
padding: 10px 0 1px 0; 
margin-right: 20px;
}

.rightcolumn.default {background-color: #F6F6F2;}
.rightcolumn.community {background-color: #F2FFD6;}
.rightcolumn.documentation {background-color: #F2FFD6;}
.rightcolumn.download {background-color: #F2FFD6;}
.rightcolumn.professional {background-color: #EAEAE1;}

.advertising {background-color: #F6F6F2; }
.advertising p {color: #666666; font-size: 11px;}
.advertising h6 { color: #333333;font-size: 11px; font-weight: normal;}
.advertising a {color: #333;}


.rightcolumn p,
.rightcolumn h1,
.rightcolumn h2,
.rightcolumn h3,
.rightcolumn h4,
.rightcolumn h5,
.rightcolumn h6,
.rightcolumn ul,
.rightcolumn ol
{
padding-right: 10px;
padding-left: 10px;
}

ul.taglist {
list-style: none;
margin-left: -10px;
}

ul.taglist li {
margin-bottom: 3px;
}

ul.taglist li a{
padding: 2px 5px 3px 10px;
}

ul.taglist li a.active, ul.taglist li a:hover {
text-decoration: none;
background: #666666 url(../../images/active-tag.png) no-repeat scroll 0 50%;
color: #FFFFFF;
}

p.event {
color: #666666;
font-size: 11px;
}

p.event img {
margin: 3px 4px 2px 0px;
}

div.standfirst {
font-size: 110%;
}

dl {
margin: 0 0 0 0;
}

dd {
margin: 0 0 5px 0;
}

dl.documentation {margin: 0px;}
dl.documentation dt{font-size: 16px; float: left; clear: both; margin-bottom: 7px;}
dl.documentation dd{ float: left; margin: 4px 0 0 7px;}

div.searchbox{
position: relative;
z-index: 1;
height: 95px;
margin-bottom: -10px;
margin-top: -60px;
}

div.searchboxhome{
margin-bottom: 15px;
margin-top: -50px;
}

div#search{
float: right;
margin-bottom: 10px;
}

div#search h3{
color: #fff;
font-size: 21px;
font-weight: lighter;
margin: 0 0 10px 0;
}

div#search input.search-field {
background:#FFFFFF url(../../images/searchicon.png) no-repeat 5px 7px;
border:3px solid #1885c8;
color:#222222;
height:14px;
margin:1px 5px 0 0;
padding:10px 10px 10px 40px;
width: 230px;
}

div#search input.button:hover {
cursor:pointer;
}
div#search input.button {
background: url(../../images/searchbutton.png);
border:medium none;
color:#FFFFFF;
width: 99px;
height:36px;
line-height:18px;
padding:0 8px;
}

.started {
background: #fff;
}

/* Personalisation */

a.all {
font-weight:bold;
}

a.all:hover  {
}

a.personalisation {
color: #7BA61D;
}

a.personalisation:hover {
color: #536F18;
}
ul.tabbednav li a.personalisation:hover  {
color: #536F18;
}

span.sub {
margin: 0 0 0 0.5em;
font-size: 85%;
color: #999;
}

span.advertise {
display: block;
font-size: 85%;
color: #999;
}

.button {
text-align: center;
}

.meta {
background: #fffbd9;
border-top: 1px solid #ffebc5;
border-bottom: 1px solid #ffebc5;
border-left: none;
border-right: none;
color: #666;
font-size: 95%;
padding: 0.5em 1em 0 1em;
margin: 0.5em 0 1em 0;
clear: both; 
  float: none; 

}


ul.docnav {
	margin: 0 0 3px 0;
}

ul.docnav {
	margin: 0 0;
	padding: 0;	  
	font-size: 95%;
	float: right;
	text-align: right;
}

ul.docnav li {
 	float: left;
 	list-style: none;
 	margin: 0 0;
}

ul.docnav li a {
	display: block;
	padding: 1px 4px;
	margin: 0px 5px;
	text-decoration: none;
	font-size: 11px;
}

img.mascot {
vertical-align:middle;
}

span.ft,
span.pt,
span.tc {
margin: 0 0 0 0.3em;
font-size: 70%;
padding: 1px 3px 1px 3px;
}

span.ft {
background: #000;
color: #fff;
}

span.pt {
background: #999;
color: #fff;
}

span.tc {
background: #d67a17;
color: #fff;
}

h2#communityhomeheading {
 background: url(../../images/icons/images/icon_drupliconhome.gif) no-repeat 0 0 ;
 height:60px;
 padding: 40px 0 0 80px;
 margin: 20px 0 0 0;
}

/* -- About icons -- */

 
h6#aboutwebbased,
h6#aboutcontentmanagement,
h6#aboutmodules,
h6#aboutthemes,
h6#aboutsearching,
h6#aboutsocial,
h6#aboutcommunity,
h6#aboutpersonalisation {
 display: block;
 height:50px;
 width:160px;
 padding: 5px 0 0 70px;
 margin: 0;
}

/* Web based */
h6#aboutwebbased {
 background: url(../../images/icons/icon_admin.jpg) no-repeat 0 0 ;
}

/* content management */
h6#aboutcontentmanagement {
 background: url(../../images/icons/icon_cms.jpg) no-repeat 0 0 ;
}

/* modules */
h6#aboutmodules {
 background: url(../../images/icons/icon_modules.jpg) no-repeat 0 0 ;
}

/* themes */
h6#aboutthemes {
 background: url(../../images/icons/icon_themes.jpg) no-repeat 0 0 ;
}

/* searching */
h6#aboutsearching {
 background: url(../../images/icons/icon_search.jpg) no-repeat 0 0 ;
}

/* social */
h6#aboutsocial {
 background: url(../../images/icons/icon_publishing.jpg) no-repeat 0 0 ;
}

/* community */
h6#aboutcommunity {
 background: url(../../images/icons/icon_community.jpg) no-repeat 0 0 ;
}

/* personlisation */
h6#aboutpersonalisation {
 background: url(../../images/icons/icon_personalisation.jpg) no-repeat 0 0 ;
}

/* smaller type for third row paragraphs*/
.aboutsmall {
font-size: 95%;
color: #555;
}

/* DASHBOARD */

div.panel {
padding-top: 0px; 
border-top: 1px solid #F6F6F2;
}

div.panel hr{
margin: 5px 0; 
}

div.panel h3 {
padding-top: 7px;
padding-bottom: 7px;
margin: 0px;
}

div.panel h3 a{
color: #000;
}

div.panel p {
padding-top: 7px;
}

a.makehomepage {
}

.dashboard p, .dashboard li {}

.dashboard a {}

.dashboard h3 a{
color:#7BA61D;
text-decoration: none;
}

span.addtodashboard{
float:right;
margin-top:-50px;
text-align:right;
line-height:13px;
}

span.addtodashboard a{
color:#7BA61D;
font-size:11px;
text-decoration: none;
}

span.addtodashboard a:hover{
color:#536F18;
}

span.addtodashboard h4{
margin-top: 34px;}

span.addtodashboard h4 a{
color:#fff;
font-size:14px;
text-decoration: none;
}

span.addtodashboard h4 a:hover{
color:#fff;
}

span.addtodashboard strong {
color:#333333;
font-size:13px;
}

span.addtodashboard .icons {
margin-top: -3px;
}

/* Get Involved */
div.biog {
background: #F6F6F2;
padding: 1em;
position: relative;
}

div.biog img {
position:absolute;
top: 1em;
left: 70%;
}

textarea {
height:95%;
padding:5px;
width:95%;
background-color: #F6F6F2;
}

/* Hot or Not */
a.hot {
background-color:#e80002;
color:#FFFFFF;
margin-left:1em;
}
a.hot:hover {
background-color:#9a0001;
color:#FFFFFF;
margin-left:1em;
}
a.not {
background-color:#0177c1;
color:#FFFFFF;
margin-left:1em;
}
a.not:hover {
background-color:#00598e;
color:#FFFFFF;
margin-left:1em;
}
