/* -------------------------------------------------------------- 
  
   nav.css
   * Some styles for creating and manipulating navigation
   
   See the Readme file in this folder for additional instructions.

-------------------------------------------------------------- */

/* Tabbed main navigation, in a UL with a class="mainnav" */

.span-24 ul.tabbednav {
	clear: both;

	padding: 0;
}

ul.tabbednav {
	clear: both;

	padding: 0;
}

ul.tabbednav li {
 	float: left;
 	list-style: none;
 	margin-bottom: -1px;
}

ul.tabbednav li a {
	padding: 5px 8px 7px 8px;
	display: block;
	margin: 0;
	text-decoration: none;
}

ul.tabbednav li a:hover {color: #000;}
ul.tabbednav li a.active {
	padding: 4px 7px 7px 7px;
	color: #000;
	border: 1px solid #bfc4c6;
	border-bottom: 0px solid #fff;
	background-color: #fff;
	-moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-right-radius: 7px;
}

ul.tabbednav li a.notactive {
	padding: 4px 7px 7px 7px;
	color: #FFF;
	border: 1px solid #0d7dc1;
	border-bottom: 0px solid #fff;
	background-color: #0d7dc1;
	-moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-right-radius: 7px;
    margin-left: 7px;
}

ul.tabbednav li a.tabcontent {margin-left: 0px;}
ul.tabbednav li a.tabactivecontent{margin-left: 7px;}
ul.tabbednav li a.notactive:hover {color: #000;background-color: #fff;border: 1px solid #fff;border-bottom: 0px solid #fff;}

ul.maintabbednav{margin-top: -30px; margin-bottom: 60px; position: relative; z-index: 2;}
ul.maintabbednav li a.active {border-color: #ffffff;}
ul.maintabbednav li a.notactive {border-color: #0D7DC1;}

ul.righttabs{margin-top: -10px; background-color: #fff;}
ul.righttabs li.ui-tabs-selected a {background-color: #EAEAE1;}
div.righttabsbgr .ui-tabs-panel {background-color: #EAEAE1;}


/* horizontal navigation, class="servicenav" floated right*/

.servicenav {
	margin: 0 0 3px 0;
}

.servicenav ul {
	margin: 0 0;
	padding: 0;	  
	font-size: 95%;
	float: right;
	text-align: right;
}

.servicenav ul li {
 	float: left;
 	list-style: none;
 	margin: 0 0;
}

.servicenav ul li a {
	display: block;
	padding: 1px 4px;
	margin: 0px 5px;
	color: #00263d;
	text-decoration: none;
	font-size: 11px;
}

.servicenav ul li a:hover, .servicenav ul li a.active {
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.servicenav ul li.community a.active, .servicenav ul li.community a:hover {background: #96BE44; color: #FFF;}
.servicenav ul li.documentation a.active, .servicenav ul li.documentation a:hover {background: #96BE44; color: #FFF;}
.servicenav ul li.download a.active, .servicenav ul li.download a:hover {background: #96BE44; color: #FFF;}
.servicenav ul li.professional a.active, .servicenav ul li.professional a:hover {background: #96BE44; color: #FFF;}

.communitycolour, .communitycolour a {color: #000;}
.documentationcolour, .documentationcolour a {color: #000;}
.downloadcolour, .downloadcolour a {color: #000;}
.professionalcolour, .professionalcolour a {color: #000;}


/* main navigation, in a UL with a class="nav" */

ul.nav {
	background-color: #044771;
	clear: both;
	margin: 0;
	padding: 5px;	
	float: right;
	text-align: right;  
	font-family:lucida Grande,Helvetica,Arial,sans-serif;
}

ul.nav li {
 	float: left;
 	list-style: none;
}

ul.nav li a {
	display: block;
	padding: 0px 10px;
	margin: 0;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 11px;
}

ul.nav li a:hover,
ul.nav li a.active {
	color: #a5e2ff;
}

.float-right{
float: right;
}
.aboutnav a{
padding-left: 10px;
float: right;
}

a.tag {
	padding: 3px;
	font-size: 80%;
	color: #666;
	background-color: #eee;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

a.tag:hover {
	text-decoration: none;
	color: #fff;
	background-color: #999;
	-moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

a.tag.doc {
	padding: 3px;
	font-size: 80%;
	color: #5b5522;
	background-color: #ebe3a4;}

a.tag.doc:hover {
	text-decoration: none;
	color: #fff;
	background-color: #e9b538;
}

a.tag.news {
	font-size: 60%;
	margin-left: 1em;
	background-color: #49a9e4;
	color: #fff;
}

a.tag.news:hover {
	margin-left: 1em;
	background-color: #044771;
	color: #fff;
}

a.tag.planet {
	font-size: 60%;
	margin-left: 1em;
	background-color: #9fca44;
	color: #fff;
}

a.tag.planet:hover {
	margin-left: 1em;
	background-color: #688a1f;
	color: #fff;
}

a.tag.ass {
	font-size: 60%;
	margin-left: 1em;
}

a.tag.planet:hover {}

