.icons{display:inline;  overflow:hidden; height:18px; padding-left:18px; padding-bottom:5px; background-repeat:no-repeat;  background-image:url(images/uicon.png); }
.icon_add_square{background-position:0px 0px}
.icon_add{background-position:0px -19px}
.icon_advanced{background-position:0px -37px}
.icon_alert{background-position:0px -55px}
.icon_bin{background-position:0px -73px}
.icon_calendar{background-position:0px -91px}
.icon_checkmark_circle{background-position:0px -109px}
.icon_checkmark{background-position:0px -127px}
.icon_circle{background-position:0px -145px}
.icon_close_circle{background-position:0px -163px}
.icon_close{background-position:0px -181px}
.icon_documents{background-position:0px -199px}
.icon_download{background-position:0px -217px}
.icon_drop_down_small{background-position:0px -235px}
.icon_drop_down{background-position:0px -253px}
.icon_edit{background-position:0px -271px}
.icon_fullscreen{background-position:0px -289px}
.icon_gear{background-position:0px -307px}
.icon_go{background-position:0px -325px}
.icon_heart{background-position:0px -343px}
.icon_hide_pane{background-position:0px -361px}
.icon_home{background-position:0px -379px}
.icon_info_circle{background-position:0px -397px}
.icon_info{background-position:0px -415px}
.icon_inspector{background-position:0px -433px}
.icon_lock{background-position:0px -451px}
.icon_mail_edit{background-position:0px -469px}
.icon_mail{background-position:0px -487px}
.icon_movies{background-position:0px -505px}
.icon_nav_back{background-position:0px -523px}
.icon_nav_eject_circle{background-position:0px -541px}
.icon_nav_eject{background-position:0px -559px}
.icon_nav_fast_forward{background-position:0px -577px}
.icon_nav_fast_rewind{background-position:0px -595px}
.icon_nav_forward{background-position:0px -613px}
.icon_nav_next{background-position:0px -631px}
.icon_nav_pause{background-position:0px -649px}
.icon_nav_play{background-position:0px -667px}
.icon_nav_previous{background-position:0px -685px}
.icon_nav_record{background-position:0px -703px}
.icon_nav_stop{background-position:0px -721px}
.icon_photos{background-position:0px -739px}
.icon_print{background-position:0px -757px}
.icon_quicklook{background-position:0px -775px}
.icon_readonly{background-position:0px -793px}
.icon_refresh{background-position:0px -811px}
.icon_remove{background-position:0px -829px}
.icon_return{background-position:0px -847px}
.icon_rss{background-position:0px -865px}
.icon_search{background-position:0px -883px}
.icon_settings{background-position:0px -901px}
.icon_share{background-position:0px -919px}
.icon_show_pane{background-position:0px -937px}
.icon_star{background-position:0px -955px}
.icon_unlock{background-position:0px -973px}
.icon_upload{background-position:0px -991px}
.icon_video{background-position:0px -1009px}
.icon_volume_full{background-position:0px -1027px}
.icon_volume_mute{background-position:0px -1043px}