/* -------------------------------------------------------------- 
  
   adverts.css
   * Ad Unit Guidelines
   
   See the Example file in this folder for additional information.

-------------------------------------------------------------- */

div.leaderboard{
width: 728px;
height: 90px;
background-color: #999999;
margin-bottom: 10px;
}

div.banner{
width: 468px;
height: 60px;
background-color: #999999;
margin-bottom: 10px;
}

div.halfbanner{
width: 234px;
height: 60px;
background-color: #999999;
margin-bottom: 10px;
}

div.verticlebanner{
width: 120px;
height: 240px;
background-color: #999999;
margin-bottom: 10px;
}

div.squarebutton{
width: 125px;
height: 125px;
background-color: #999999;
margin-bottom: 10px;
}

div.button1{
width: 120px;
height: 90px;
background-color: #999999;
margin-bottom: 10px;
}

div.button2{
width: 120px;
height: 60px;
background-color: #999999;
margin-bottom: 10px;
}

div.microbar{
width: 88px;
height: 31px;
background-color: #999999;
margin-bottom: 10px;
}

div.sky {
width: 120px;
height: 600px;
background-color: #999999;
margin-bottom: 10px;
}

div.widesky{
width: 160px;
height: 600px;
background-color: #999999;
margin-bottom: 10px;
}

.halfpage{
width: 300px;
height: 600px;
background-color: #999999;
margin-bottom: 10px;
}

div.lrec{
width: 336px;
height: 280px;
background-color: #999999;
margin-bottom: 10px;
}

div.mrec{
width: 300px;
height: 250px;
background-color: #999999;
margin-bottom: 10px;
}

div.vrec{
width: 240px;
height: 400px;
background-color: #999999;
margin-bottom: 10px;
}

div.rec{
width: 180px;
height: 150px;
background-color: #999999;
margin-bottom: 10px;
}

div.rec31{
width: 300px;
height: 100px;
background-color: #999999;
margin-bottom: 10px;
}

div.popup{
width: 250px;
height: 250px;
background-color: #999999;
margin-bottom: 10px;
}